@keyframes logoGrowFadeIn {
    from {
        width: 25px;
        opacity: 0;
    }

    to {
        width: 475px;
        opacity: 1;
    }
}

#logo {
    animation: logoGrowFadeIn 5s ease-in-out forwards;
}

body {
    font-family: 'Poppins', serif;
    background-image: url('images/concrete_seamless.png');
    background-color: #f1f1f1;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.nav_links .nav_item {
    padding: 8px 0;
}

.nav_links .nav_item a:link,
.nav_links .nav_item a:visited {
    color: blue;
}

.card>header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card {
    flex-basis: 450px;
}

.pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}


@media (min-width: 900px) {
    .pricing {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        flex: 0 1 275px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
}


@media (min-width: 900px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        flex-direction: row;
    }

    .nav_links {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }

    body>header:not(main header) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: #ffffff;
    }

    body {
        padding-top: 80px;
    }
}

@media (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
        width: 475px;
        opacity: 1;
    }
}